@keyframes paralax {
  from {object-position: 50% 400%;}
  to {object-position: 50% -400%;} 
 }
.inicioHero{
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr ;
  height: 40vw;
}
.heroImagen{
  overflow: hidden;
  object-fit: contain;
  inline-size: 100%;
  block-size: 100%;
  grid-area: 1 / 1 / span 1 / span 2;
  position: fixed;
  z-index: -2;
  animation: paralax linear;
  animation-timeline: view();
}
.heroContenido{
  grid-area: 1 / 2;
  max-width: 600px;
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 10px;
  justify-items: end;

}

.heroContenido h1{
  text-transform: uppercase;
  color: var(--blanco-texto);
  font-size: 4rem;
  font-family: Titulo2;
}
.heroContenido p{
  text-align: right;
  color: var(--blanco-texto);
  padding-bottom: 3vw;
  font-family: SubTitulo;
}

.servicesSection {
  
  padding: 2rem 1rem;
  text-align: center;
  background:var(--gris-fondo);

}
.servicesSection h2{
  color: var(--gris-texto);
  font-family: Titulo3;
  font-size: 2rem;
}

.servicesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 3rem auto 1.5rem;
}


.descripcion{
  padding: 4vw 16vw;
  background: var(--dorado-fondo);
  color: var(--dorado-texto);
}
.descripcion h2{
  justify-self: center;
  font-family: Titulo3;
  margin-bottom: 3rem;
  
}
.descripcion p{
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  font-family: Parrafo;
}
.descripcion p :last-child{
  margin-bottom: 0;
}
.descripcion ul{
  font-family: Parrafo;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
}
.portfolioSection {
  padding: 2rem 1rem;
  background: var(--gris-fondo);
  text-align: center;
}
.portfolioSection h2{
  font-family: Titulo3;
  color: var(--gris-texto);
  margin-bottom: 3rem;
}
.portfolioGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto 1.5rem;

}
.portfolioCard{
  background: var(--azul-fondo);
}
.portfolioCard .media {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  margin-bottom: 1rem;
}

.portfolioCard .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.portfolioCard .noMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fondo-negativo-secundario);
  border: 1px solid var(--border-color);
}

.contactSection {
  padding: 2rem 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .servicesSection {
      padding: 4rem 2rem;
  }

  .servicesGrid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablet */
  }

  .portfolioSection {
      padding: 4rem 2rem;
  }

  .portfolioGrid {
      grid-template-columns: repeat(2, 1fr);
  }

  .contactSection {
      padding: 4rem 2rem;
  }
}

@media (min-width: 1024px) {
  .servicesGrid {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas en desktop */
  }

  .portfolioGrid {
      grid-template-columns: repeat(3, 1fr);
  }
}