.containter{
    max-width: 1400px;
    margin: auto;

}
.specs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 700px 1fr 700px 1fr 700px 1fr;
  

}
.specs img{
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}
.specs div{
    padding: 80px;

}
.texto1, .texto2, .texto3{
    background:#2C3738;
    color: #7b9092f3;
}
.textoCompleto{
    grid-column: 1/3;
    background: #29251D;
    color: #b3a89274;
}

.imagen2{
    grid-area: 3/2;
}
