.portfolio{
  width: 100%;
  background: var(--fondo-negativo);
}

.portfolioGrid {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--fondo-negativo);
  color: var(--titulo-negativo);
}
.portfolioItem{
  background: var(--fondo-negativo-secundario);
}
@media (min-width: 768px) {
  .portfolioGrid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablet */
      padding: 4rem 2rem;
  }
}

@media (min-width: 1024px) {
  .portfolioGrid {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas en desktop */
  }
}