@keyframes paralax {
  from {object-position: 50% -400%;}
  to {object-position: 50% 400%;} 
 }
 @keyframes paneo {
  from {object-position: 10% 50%; }
  to {object-position: 100% 50% ;}
}
.hero{
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: 1fr ;
  height: 40vw;
}
.heroImagen{
  overflow: hidden;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  grid-area: 1 / 1 / span 1 / span 2;
  position: fixed;
  z-index: -2;
  animation: paralax linear;
  animation-timeline: view();
}
.heroContenido{
  grid-area: 2 / 1;
  max-width: 1000px;
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 10px;

}

.heroContenido h1{
  text-transform: uppercase;
  color: var(--blanco-texto);
  font-size: 2rem;
  font-family: Titulo3;
  text-align: center;
}
.heroContenido p{
  color: var(--blanco-texto);
  padding-bottom: 3vw;
  font-family: SubTitulo;
  text-align: center;
  font-size: 1.5rem;
}

.portfolio{
  width: 100%;
  background: var(--gris-fondo);
}

.portfolioGrid {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--fondo-negativo);
  color: var(--titulo-negativo);
}
.portfolioItem{
  background: var(--fondo-negativo-secundario);
}
@media (min-width: 768px) {
  .portfolioGrid {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablet */
      padding: 4rem 2rem;
  }
}

@media (min-width: 1024px) {
  .portfolioGrid {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas en desktop */
  }
}