/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografías globales */
@font-face{
  font-family: Titulo;
  src: local('Morganite-Bold'), url('./assets/fonts/Morganite-Bold.ttf');
  font-style: bold;
  font-weight: bold;
}
@font-face{
  font-family: Titulo2;
  src: local('Moniqa-Heading'), url'./assets/Moniqa/Moniqa-Heading.ttf';
  font-style: bold;
  font-weight: bold;
}
@font-face{
  font-family: Titulo3;
  src: local('Nohemi-Bold'), url('./assets/nohemi/Nohemi-Bold.woff');
  font-style: Bold;
  font-weight: Bold;
}
@font-face{
  font-family: SubTitulo;
  src: local('Nohemi-Thin'), url('./assets/nohemi/Nohemi-Thin.woff');
}
@font-face{
  font-family: Parrafo;
  src: local('Nohemi-Light'), url('./assets/nohemi/Nohemi-Light.woff');

}
œfont-face{
  font-family: Cursiva;
  src: local('Nohemi-italic'), url('./assets/fo')
}
/* Efectos Globales */

/* Colores globales como variables */
:root {
  --azul-fondo: #111922;
  --azul-texto: #787d84;
  --gris-fondo: #101214;
  --gris-texto: #9a9a9a;
  --blanco-texto: white;
  --dorado-fondo:#29251C;
  --dorado-texto:#968F83;
  --gradiente-azul: linear-gradient(#0f151e ,#1a2435 );
}
  /* 
  --gradiente-positiva:linear-gradient(#32b8b1, #28948f);
  --fondo-negativo: #0f151e;
  --fondo-negativo-secundario: #111922;
  --titulo-negativo: #d7d7d7;
  --titulo-negativo-secundario:#8a8a8a;
  --resaltado-negativo: #bb3c1f;
  --fondo-positivo-secundario: #32b8b1;
  --fondo-gris: #f8f8f8;
  --titulo-positivo: #2e2e2e;
  --subtitulo-negativo: #9d9d9d;
  --primary-text: #2d2d2d;
  --secondary-text: #666;
  --border-color: #e5e5e5;
  --bg-light: #f8f8f8;
  --bg-dark: #2d2d2d;
  --hover-dark: #666; */
/* Tipografía común */
/* 

h1, h2{
  font-family: Titulo;
  color: var(--titulo-positivo-secundario);
  font-size: 4rem;
  line-height: 4rem;
  padding: 0;
  margin: 0;
}

.SubTitulo{
  font-family: SubTitulo;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  color: var(--subtitulo-positivo)  
}

h3 {
  font-family: Titulo;
  font-size: 4rem;
}

p {
  font-family: Parrafo;
  font-size: 1rem;
}


.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: Parrafo;
  letter-spacing: 0.1rem;
}
.btnNegativo {
  background: var(--gradiente-negativa);
  color: var(--titulo-negativo);
}
.btnPositivo {
  background: var(--gradiente-positiva);
  color: var(--titulo-positivo);
}
.btn:hover {
  background: var(--hover-dark);
}

.btn-outline {
  background: transparent;
  color: var(--primary-text);
  border: 1px solid var(--primary-text);
}

.btn-outline:hover {
  background: var(--primary-text);
  color: #fff;
}



.hero .slim {
  height: 40vh; 
}

.slim-content{
  padding: 20vh 0 0 0;
}
.hero-content p {
  padding-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: var(--subtitulo-negativo);

}


.card {
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  padding: 0 1rem;
}

input {
  padding: 0.8rem;
  border: 1px solid #e5e5e5;
  background: #fff;
  font-size: 0.9rem;
  color: #2d2d2d;
}

.contact p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 1rem;
}

.contact a {
  color: #2d2d2d;
  text-decoration: underline;
}


@media (min-width: 768px) {
  h1 {
      font-size: 8rem;
  }

  h2 {
      font-size: 2.5rem;
  }

  h3 {
      font-size: 2rem;
      letter-spacing: 0.05rem;
  }

  p {
      font-size: 1rem;
  }

  .btn {
      padding: 1rem 2rem;
      font-size: 1rem;
  }



  .hero.slim {
      height: 50vh;
  }

  .card {
      padding: 2rem;
  }
  .hero{
    background-attachment: fixed;
  }
  
  .slim-content{
    padding-top: 30vh;
  }
  .contact {
    padding: 4rem 2rem;
}

.contact h2 {
    font-size: 2.5rem;
}

form {
    max-width: 600px;
    padding: 0;
}

input {
    padding: 1rem;
    font-size: 1rem;
}

.contact p {
    font-size: 1rem;
}
} */