.header {
  position: fixed;
  width: 100%;
  background: transparent;
  padding: 1rem;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.scrolled {
  background: #1e1e1e;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  height: auto;
  width: 20vw;
}

.nav {
  display: none;
}

.navList {
  list-style: none;
}

.navLink {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}


.active {
  color: #ccc;
}

.scrolled .active {
  color: var(--secondary-text);
}

@media (min-width: 768px) {
  .header {
      padding: 0.5rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .logo {
    width: 6vw;
  }

  .nav {
      display: block;
  }

  .navList {
      display: flex;
      gap: 2rem;
  }

  .navLink:hover {
      color: #ccc;
  }

  .scrolled .navLink:hover {
      color: var(--secondary-text);
  }
}