@keyframes colorized{
  0%{
    background: transparent;
    color: var(--blanco-texto);
  }
  100%{
    background: var(--azul-fondo);
    color: var(--azul-texto);
  }
}
@keyframes colorizedLinks{
  0%{
    color: var(--blanco-texto);
  }
  100%{
    color: var(--azul-texto);
  }
}
.header {
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 1000;

}

.logo {
  height: auto;
  width: 20vw;
}

.nav {
  display: none;
}

.navList {
  list-style: none;
}

.navLink {
  color: var(--azul-texto);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: Titulo3;
  font-size: 0.9rem;
  animation: colorizedLinks linear;
  animation-timeline: scroll(block);
  animation-range:0  300px;
}

@media (min-width: 768px) {


  .header {
    padding: 0.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    animation: colorized linear;
    animation-timeline: scroll(block);
    animation-range: 0 300px;
    background: var(--azul-fondo);
  }

  .logo {
    width: 6vw;
    justify-self: start;
  }

  .nav {
      display: block;
      
  }

  .navList {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 1rem;
      justify-self: center;
  }

  .navLink:hover {
      color: #ccc;
  }
  .header :nth-child(3){
    justify-self: right;
  }
}